a{
  font-size: 1.5em;
  color: black;
  font-family:"Oswald", system-ui;
  font-weight: 400;
  text-decoration: none;
}

h1{
  font-size: 2.5em;
  font-family:"Oswald", system-ui;
  font-weight: 600;
  text-align: center;
}

div{
  text-align: center;
}

.ia {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 50px;
  line-height: 50px;
}

.ia::before{ 
  content: "";
  position: absolute;
  inset: 0;
  background: url(images/imageia.png) repeat;
  background-size: 60%;
  background-position: 30% 80%;
  zoom: 0.5;
  border: 2px solid black;
  border-bottom: 7px solid black;
  border-right: 4px solid black;
  border-radius: 10px 10px 10px 10px; 
  opacity: 0.5;
  z-index: -1;
}



.apprendre {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 50px;
  line-height: 45px;
}

.apprendre::before{
  content: "";
  position: absolute;
  inset: 0;
  background: url(images/imageapprendre.png) repeat;
  background-position: -60% 90%;
  background-size: 80%;
  zoom: 0.1;
  opacity: 0.5;
  border: 20px solid black;
  border-bottom: 70px solid black;
  border-right: 40px solid black;
  border-radius: 100px 100px 100px 100px; 
  z-index: -1;
}