a{
  font-size: 1.5em;
  color: black;
  font-family:"Oswald", system-ui;
  font-weight: 400;
  text-decoration: none;
}

h1{
  font-size: 2.5em;
  font-family:"Oswald", system-ui;
  font-weight: 600;
  text-align: center;
}

div{
  text-align: center;
}

.ia {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 50px;
  line-height: 50px;
}

.ia::before{ 
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(imageia.png);
  zoom: 0.5;
  border: 1px solid black;
  background-size: 60%;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}
